@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue-color: 250;
  --first-color: #0290ff;
  --first-color-lighter: #4386bf;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --container-color: #ebecf0;
  --bg-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --body-font: Poppins, sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

body {
  background-color: var(--container-color);
  font-family: poppis, sans-serif;
  padding: 2rem 3rem;
}

.nav {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  border: 1px solid var(--container-color);
  box-shadow: 0 0 10px lightgray;
}

.header {
  text-decoration: none;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  font-size: var(--big-font-size);
  margin-right: 3rem;
}

.link {
  text-decoration: none;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-right: 2rem;
  color: var(--text-color);
}

.books-section {
  box-shadow: 0 0 10px lightgray;
  padding: 1rem 5rem;
}

.book {
  background-color: var(--bg-color);
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--container-color);
  display: flex;
  justify-content: space-between;
}

.book-category {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.book-title {
  font-size: var(--h2-font-size);
  opacity: 0.9;
  margin-bottom: var(--mb-0-25);
}

.author {
  color: var(--first-color-lighter);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.btn {
  padding: 0.1rem 0.5rem 0.1rem 0;
  font-family: poppins, sans-serif;
  font-size: var(--normal-font-size);
  border: none;
  border-right: 1px solid lightgray;
  margin-right: 0.5rem;
  background: none;
  color: var(--first-color-lighter);
  cursor: pointer;
}

.btn:hover {
  color: var(--first-color);
}

.edit {
  border: none;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 50%;
  height: 50%;
  fill: none;
  stroke: var(--container-color);
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 100;
}

.larger:nth-child(1) svg circle:nth-child(2) {
  stroke: var(--first-color);
}

.bars {
  border-right: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.completed {
  margin-left: var(--mb-2-5);
}

.percentage {
  font-size: var(--big-font-size);
  opacity: 0.9;
}

.state {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.status {
  display: flex;
}

.current-chapter {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.chapter-number {
  font-size: var(--normal-font-size);
  opacity: 0.9;
  margin-bottom: var(--mb-1);
}

.update-btn {
  background: var(--first-color);
  color: var(--bg-color);
  border: 1px solid var(--first-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.update-btn:hover {
  background: var(--first-color-lighter);
  border: 1px solid var(--first-color-lighter);
}

.chapters {
  padding: 1.5rem 3rem;
}

.category-link {
  color: var(--text-color-light);
  flex: 1;
}

.form-section {
  padding: 1.5rem 0;
  margin-top: var(--mb-2-5);
  border-top: 2px solid lightgrey;
}

.form-header {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.input {
  padding: 0.6rem 0.8rem;
  font-family: poppins, sans-serif;
  font-size: var(--normal-font-size);
  outline: none;
  color: var(--text-color);
  margin-right: 3rem;
  width: 35%;
  margin-top: var(--mb-1);
  border: 1px solid var(--container-color);
}

.submit-btn {
  padding: 0.4rem 0.5rem;
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--bg-color);
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
}

.submit-btn:hover {
  background: var(--first-color-lighter);
  border: 1px solid var(--first-color-lighter);
}

.profile {
  justify-self: flex-end;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--container-color);
  border-radius: 50%;
}

.user-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.status-btn {
  padding: 0.6rem;
  margin-top: var(--mb-3);
  background: var(--first-color);
  color: var(--bg-color);
  border: 1px solid var(--first-color);
  font-family: poppins, sans-serif;
  font-size: var(--normal-font-size);
  border-radius: 0.2rem;
  cursor: pointer;
}

.status-btn:hover {
  background: var(--first-color-lighter);
  border: 1px solid var(--first-color-lighter);
}

.status-header {
  margin-top: var(--mb-3);
  font-size: var(--big-font-size);
  color: var(--text-color);
}
